header {
    display: flex;
    flex-direction: row;
    background-color: lightgoldenrodyellow;
    margin-top: auto;
}

#fotoperfil {
    width: 200px;
    height: 200px;
}

menu {
    background-color: lightgoldenrodyellow;
    float: left;
    width: 350px;
    height: 120vh;
}
